.taskItem{
    margin: 40px 10px;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 2px rgba(128, 128, 128, 0.12), 0px 0px 1px 1px rgba(128, 128, 128, 0.8);
}

.taskItem h1{
    margin-top: 20px;
}

.task{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    align-items: center;
    border-bottom: 1px solid darkgray;
}

.task p {
    font-weight: 500;
}

.infoTasks .taskcard{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    align-items: center;
    border-bottom: 1px solid darkgray;
}

.btnDelete{
    color: red;
    font-size: 25px;
    cursor: pointer;
}

.btnEdit{
    color: blue;
    font-size: 25px;
    cursor: pointer;
}

.btnAdd{
    color: rgba(9, 255, 0, 0.664);
    font-size: 35px;
    cursor: pointer;
}

.btnGroup{
    display: flex;
    justify-content: space-evenly;
}
